.container {
  color: var(--clr-neutral-100);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  z-index: 1;
}

.img {
  filter: brightness(50%);
  z-index: -3;
  object-position: center;
}

.container h2 {
  font-size: 10rem;
}

.container h4 {
  font-size: 5rem;
}
.container small {
  font-size: 0.9rem;
}

@media screen and (max-width: 768px) {
  .container h2 {
    font-size: 5rem;
  }
  .container h4 {
    font-size: 3rem;
  }
  .container small {
    font-size: 0.7rem;
    text-align: center;
  }
  .img {
    object-position: 66% 50%;
  }
}
