.container {
  color: var(--clr-accent-108);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  z-index: 1;
}

.img {
  filter: brightness(25%);
  z-index: -3;
}

.container h3 {
  font-size: 7rem;
}

.container h5 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}
.container h4 {
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .container h3 {
    font-size: 4rem;
  }
  .container h5 {
    font-size: 2rem;
  }
  .container h4 {
    font-size: 0.7rem;
    text-align: center;
  }
}
