.category_list {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.category_list p {
  color: #000;
  font-size: 1.2rem;
  text-decoration: underline;
}

.category_list li {
  font-size: 0.7rem;
  display: inline-block;
  margin: 1rem;
  cursor: pointer;
}

.category_list li:hover {
  color: var(--link-color);
  text-decoration: underline;
  transition: all 300ms ease-out;
}
