.form_container {
  width: 550px;
  padding: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  font-size: 3.3rem;
  padding: 1rem;
}

.form_container form {
  margin-top: 20px;
}

.icon {
  margin-left: 0.75rem;
}

.auth {
  border-radius: 5px;
  max-width: 550px;
  margin: auto;
  padding: 20px;
  box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.42);
}

.auth label {
  display: block;
  margin-bottom: 10px;
}

.auth input[type="text"],
.auth input[type="email"],
.auth input[type="password"] {
  display: block;
  width: 100%;
  height: 35px;
  padding: 5px;
  font-size: 18px;
}

.auth input[type="submit"] {
  margin-top: 20px;
  width: 100%;
  font-size: 16px;
}

.auth div {
  margin-bottom: 20px;
}

.auth textarea {
  height: 7rem;
  resize: none;
}

.auth input[type="text"],
.auth input[type="email"],
.auth textarea {
  font-family: inherit;
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: 0.15rem;
  background: #fafbfc;
  border-color: transparent;
  border: 1px solid #dbe0ea;
  outline: none;
}

.btn {
  display: inline-block;
  background: var(--clr-neutral-900);
  color: var(--clr-white);
  padding: 14px 20px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  font-family: inherit;
  border: 2px solid transparent;
}

.btn:hover {
  color: #000;
  background-color: var(--clr-white);
  border: 2px solid var(--clr-neutral-900);
}

@media (max-width: 699px) {
  .auth {
    max-width: 400px;
  }
}
