.heroContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.heroImage {
  filter: brightness(35%);
  object-position: 50% 0%;
  z-index: -3;
}

.inner {
  color: #fff;
  position: absolute;
  left: 14%;
  bottom: 20%;
}

.inner > button {
  display: inline-block;
  position: relative;
  margin-top: 1rem;
  background: transparent;
  color: #fff;
  padding: 1.25em 2em;
  outline: 1px solid #fff;
  outline-offset: -0.5em;
  border-radius: 5px;
  border: 1px solid #fff;
  min-width: 140px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  overflow: hidden;
  transition: all 400ms ease-in-out;
}

.inner button:hover,
.inner button a:hover {
  outline: none;
  color: #000;
  outline-offset: none;
  background-color: #fff;
}

.inner button a {
  color: #fff;
}

@media screen and (max-width: 599px) {
  .inner {
    left: 8%;
  }
}
