.heroContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroImage {
  filter: brightness(35%);
  object-position: 50% 0%;
  z-index: -3;
}

.inner {
  color: #fff;
  position: absolute;
  bottom: 20%;
  left: 220px;
}
