.heroContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.heroImage {
  filter: brightness(35%);
  object-position: 50% 0%;
  z-index: -3;
}

.inner {
  color: #fff;
  position: absolute;
  left: 14%;
  bottom: 20%;
}

@media screen and (max-width: 599px) {
  .inner {
    left: 8%;
  }
}
