.navigation {
  font-family: "Orbitron", sans-serif;
  position: sticky;
  top: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.9);
  box-shadow: var(--dark-shadow);
}

.nav {
  /* border: 1px solid red; */
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.875rem 0.6rem;
}

.logo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.logo a {
  font-family: "Orbitron", sans-serif;
  color: var(--clr-primary-6);
  font-size: 21px;
  font-weight: 700;
}

.icon {
  font-size: 27px;
  color: var(--clr-primary-6);
  margin-left: 0.5rem;
}

.toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-6);
  background: transparent;
  border-color: transparent;
  transition: transform 500ms ease;
  cursor: pointer;
}
.toggle:hover {
  color: var(--clr-primary-7);
  transform: rotate(90deg);
}

.links a {
  color: var(--clr-primary-6);
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: all 350ms ease-out;
}

.links a:hover {
  background: rgba(255, 255, 255, 0.05);
  padding-left: 1.5rem;
  opacity: 0.33;
}

.linksContainer {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.show-container {
  height: 50rem;
}

@media screen and (min-width: 760px) {
  .center {
    max-width: 1299px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.875rem 0.6rem;
  }
  .header {
    padding: 0;
  }
  .toggle {
    display: none;
  }
  .linksContainer {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.8rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
}
