.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.65rem 2.5rem;
  justify-content: center;
  padding: 45px 45px 90px;
  width: 100%;
  margin: 3rem auto 5rem;
}

@media (min-width: 78.125em) {
  .container {
    padding: 0;
    max-width: 1160px;
  }
}
