.testimonial {
  box-shadow: 0px 10px 20px 0px rgba(104, 104, 104, 0.5);
  border-radius: 5px;
  padding: 40px 25px 25px;
  flex-grow: 1;
  flex-basis: 280px;
  max-width: 360px;
  position: relative;
}

.testimonial__text {
  color: #000;
  font-weight: normal;
  font-size: 1rem;
  line-height: 21px;
  margin-bottom: 1.5625rem;
}

.testimonial__details {
  color: #000;
  display: flex;
  align-items: center;
}

.testimonial__img {
  display: inline-block;
  width: 50px;
  margin-right: 10px;
}

.testimonial__img img {
  vertical-align: bottom;
  border-radius: 50%;
}

.testimonial__info {
  display: inline-block;
}

.testimonial__desc {
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 10px;
  letter-spacing: 0.5px;
}

.testimonial__name {
  font-weight: bold;
  font-size: 0.95rem;
  line-height: 12px;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}
