.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.card {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/images/thunder3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* filter: grayscale(%); */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 17rem;
  flex-direction: column;
  box-shadow: 0 0 10px 5px #e1e5ee;
  border-radius: 5px;
  padding: 1rem;
}

.icon {
  background-color: rgba(178, 207, 231, 0.315);
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
  margin: 1rem;
}

.body {
  margin: 1rem;
  padding: 1rem;
}
